body {
  background: #000;
  color: #fff;
}

#container {
  text-align: center;
  margin: 0px auto;
  width: 500px; 
  height: 500px;

}

#board {
  position: relative;
  background: #000;
  z-index: 0;
  width: 500px;
  height: 500px;
  border: 1px dashed #333;
}

.tile {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #ffcc00;
  background: #ff5f00;
  z-index: 2;
  height: 48px;
  width: 48px;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;  
  z-index: 100;
  width: 100%;
  padding-top: 4em;
}

.congrats_bg {
  position: absolute;
  width: 500px; 
  height: 500px;
  z-index: 3;
  background: #000;
  opacity: 0.9;
  padding: 40px;
  display: table;
}

.congrats {
  display:table-cell;vertical-align:middle;
}

 h1 {
  color: #fff;
  font-size: 3em;
}

.congrats p {
  line-height: 4em;

}

a.button {
  font-size: 1.5em;
  padding: 5px;
  line-height: 4em;
  color: #fff;
  background: #ff5f00;
  border: 3px solid #aa1f00;
  text-decoration: none;
}

.congrats a:hover {
  background: #aa1f00;
}

.dragging {
 background: #aa1f00; 
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
  height: 500px;
  width: 500px;
}

#status {
  color: #ffcc00;
}